:root {
    --green: #00ff41;
    --bg: #000000;
}

body {
    background-color: var(--bg);
    color: var(--green);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Дээрээс нь эхэлнэ */
    min-height: 100vh;
    margin: 0;
    overflow-y: auto; /* Доошоо гүйлгэхийг зөвшөөрнө */
    padding: 40px 0; /* Дээд доод талдаа зай авна */
}

.terminal-container {
    width: 90%;
    max-width: 650px;
    padding: 20px;
}

#output {
    font-size: 16px;
    line-height: 1.6;
    white-space: pre-wrap;
    margin-bottom: 30px;
}

.links-group {
    display: none; /* JS ажиллаж дуустал нууцтай байна */
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.link-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    border: 1px solid var(--green);
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.link-item:hover {
    background: var(--green);
    color: var(--bg);
}

.htb { border-color: #9fef00; color: #9fef00; }
.htb:hover { background: #9fef00; color: #000; }

/* Hacker style scrollbar */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #000; }
::-webkit-scrollbar-thumb { background: var(--green); }
